<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>SYSC 4806 Group 11 - Survey Monkey</title>
</head>
<body>
<h1 th:text="'Add Answer to Choice Question: ' + ${choiceQnA.getQuestionText()} + ' in Survey: ' + ${survey.getSurveyName()}"></h1>
<form method="post" th:object="${choiceAnswer}" th:action="@{/saveChoiceAnswer(surveyId=${survey.surveyID}, choiceQnAId=${choiceQnA.id})}">
  <label for="questionChoice">The Answer:</label>
  <input type="choice" id="questionChoice" th:field="*{answer}">
  <textarea readonly id="choiceAnswer"></textarea>

  <button type="submit" id="createChoiceAnswerButton">Add</button>
</form>
</body>
</html>