<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>SYSC 4806 Group 11 - Survey Monkey</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script th:src="@{/js/js_scripts.js}"></script>
</head>
<body>
<h1 th:text="'Add Answer to Range Question: ' + ${rangeQnA.getQuestionText()} + ' in Survey: ' + ${survey.getSurveyName()}"></h1>
<form method="post" th:object="${rangeAnswer}" th:action="@{/saveRangeAnswer(surveyId=${survey.surveyID}, rangeQnAId=${rangeQnA.id})}">
  <label for="questionRange">The Answer:</label>
  <input type="range" id="questionRange" th:min="${rangeQnA.minimum}" th:max="${rangeQnA.maximum}" th:step="${rangeQnA.step}" th:field="*{answer}">
  <textarea readonly id="rangeAnswer"></textarea>

  <button type="submit" id="createRangeAnswerButton">Add</button>
</form>
</body>
</html>