<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Surveys</h1>

<div>
    <p th:each="survey : ${surveys}">
        ID: <span th:text="${survey.id}"/>
        <br>
        Name: <span th:text="${survey.surveyName}"/>
        <p>
            <h3>Choice QnAs</h3>
            <div th:each="question : ${Survey.choiceList}">
                Question ID: <p th:text="'Question ' + ${question.id}"></p>
                Question Text: <p th:text="${question.questionText}"></p>
            </div>
            <h3>Text QnAs</h3>
            <div th:each="question : ${Survey.textList}">
                Question ID: <p th:text="'Question ' + ${question.id}"></p>
                Question Text: <p th:text="${question.questionText}"></p>
            </div>
            <h3>Range QnAs</h3>
            <div th:each="question : ${Survey.rangeList}">
                Question ID: <p th:text="'Question ' + ${question.id}"></p>
                Question Text: <p th:text="${question.questionText}"></p>
            </div>
        </p>
    </p>
</div>

<div>
    <form action = "/createSurvey">
        <button>
            Create Survey
        </button>
    </form>

    <br><form action = "/createChoiceQnA">
        <button>
            + New Choice Question
        </button>
    </form>

    <form action = "/createTextQnA">
        <button>
            + New Text Question
        </button>
    </form>

    <form action = "/createRangeQnA">
        <button>
            + New Range Question
        </button>
    </form>
</div>
</body>
</html>